/* Global CSS */

// Add font
@font-face
  font-family: cristal
  src: url("app/assets/fonts/Raleway-VariableFont_wght.ttf") format("truetype")

*
  font-family: cristal, seri, serif

body
  background: rgb(41, 130, 161)
  background: linear-gradient(349deg, rgb(113, 202, 248) 0%, rgb(186, 223, 253) 80%)

.row
  padding: 0
  margin: 0

.mat-tab-labels
  justify-content: center

.mat-form-field-underline
  position: absolute
  width: 0 !important
  pointer-events: none
  transform: scale3d(1, 1.0001, 1)

.mat-autocomplete-panel
  background: rgba(0, 0, 0, .1) !important
  color: rgba(0, 0, 0, .87)

.mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover)
  background: rgba(0, 0, 0, .1)

// Remove scroll at all.
::-webkit-scrollbar
  display: none

.mat-table
  width: 100%
  margin-top: 10vh
  background: transparent !important








