<div id="currentWeather">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
      <img [src]="weatherIconUrl" width="160" height="160">
      <p>Current Temperature for <span id="cityName">{{mostNearCityName}}</span></p>
      <div id="currentAverageTemperature">{{this.currentTemperature.toFixed(1)}}<span>°C</span>
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="row" style="padding-top: 16vh">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <app-forecast [weather]="nearWeather" ></app-forecast>
      </div>
        <div class="col-md-3"></div>
    </div>
  </div>
</div>
