#currentWeather
  padding-top: 31vh
  height: 600px
  color: #170e38e5

#currentAverageTemperature
  padding-left: 60px
  padding-top: 30px
  font-size: 10vh

#cityName
  font-weight: bold
  font-size: 5vh
