<!--<h2>Cities near you:</h2>
<p *ngFor="let city of resultByPosition">{{city.title}} {{city.woeid}}</p>
<h2>Chose city</h2>-->

<h2>Your position: </h2>
<p>Latitude: {{yourPosition[0]}}</p>
<p>Longitude: {{yourPosition[1]}}</p>
<p *ngFor="let city of cities">{{city.title}} {{city.woeid}}</p>
<h2>Nearest city: </h2>
<p>{{mostNearCityName}}</p>
<h2>Nearest city weather: </h2>
<p>{{this.averageWeather}} °C</p>
<!--<mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>-->
<!--<button mat-button>Refresh</button>-->
